/* Reset ve Genel Stil */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Container Stili */
.todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Başlık Stili */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Giriş Alanı ve Ekle Butonu Stili */
.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

/* Liste Stili */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Tamamlanan Görevler Stili */
.completed {
    text-decoration: line-through;
    color: #777;
}

/* Sil ve Düzenle Butonları Stili */
.delete,
.edit {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit {
    background-color: #ffc107;
}

/* Düzenleme Modu Stili */
.editing .task {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
}

/* Navbar Stili */
.navbar {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

.navbar a {
    color: white;
}
/* Checkbox Stili */
.custom-control-label::before {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    cursor: pointer;
}

.custom-control-label::after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border-radius: 0.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.custom-checkbox .custom-control-label::after {
    border-radius: 0.125rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-control-input:checked ~ .custom-control-label::after {
    display: block;
}
